body {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-dark);
    background-color: var(--color-white);
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--color-dark);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1rem;
  }

  